<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" /><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" /><br/>
        <button type="submit">Login</button>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    </form>
</body>
</html>
